html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #8e8e8e;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.header { 
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
}

.header img {
  max-width: 80px;
  height: auto;
}

.header h1 {
  margin-left: 15px;
}

.header div {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 15px;
}

main {
  padding: 0 40px;
}
.container {
  /* background-color: #eee; */
}

.w-50 {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.cover {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100px;
  max-width: 500px;
  height: 500px;
  background-color: #fff;
  border: 1px solid black;
  transition: width .6s ease-in-out; 
}

.cover:hover {
  width: 100%;
}

.cover {
  background: url('../img/teste.jpg') center no-repeat;
  background-size: cover;
}

.bg-gray {
  background-color: #eee;
}
